/*DEVELOPER: Valarie Ghnim, IS117-001, Fall 2025*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

.carousel-item{
    height: 50%;
}
